@charset "UTF-8";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #232323;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 25px;
}

img {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
}